# Flask token (random string)
FLASK_SECRET_KEY=

# GitLab setup
GITLAB_URL=
GITLAB_ADMIN_TOKEN=
GITLAB_CLIENT_ID=
GITLAB_CLIENT_SECRET=

# Set the username for the first admin in instance (who can later promote other users to be admins)
INITIAL_INSTANCE_ADMIN=admin

# Automatically apply all migrations on startup
# This will update database structure to the current version or create it if it does not exist
APPLY_MIGRATIONS=true

# PostgreSQL URL in format: postgresql://user:password@host:port/database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

# Same format as DATABASE_URL, using for develop in alembic commands.
# Change this if you are using a database in a docker container.
DATABASE_URL_EXTERNAL=

# Hostname (e.g. manytask.org)
HOSTNAME=

